
html,body,#root {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color:#F5F7FA;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}